@import url(style.css);

.rodape {
  background-color: var(--branco);
  padding: 2em;
}

.lista__rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
  }

  .lista__rodape {
    display: block;
  }

  .lista__rodape--titulo {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--laranja);
  }

  .lista__rodape--item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .lista__rodape--item:hover {
    color: var(--laranja);
  }

  .lista__rodape {
    border-left: 1px solid var(--azul);
    padding-left: 3rem;
  }
}